@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Marck+Script&family=Pacifico&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --header_bg-color: rgba(223, 185, 156, 1); 
    --header_footer_a-color: white;
    --header_footer_a-bg-color: black;
    --body_bg-color: AntiqueWhite;
    --footer_bg-color: AntiqueWhite;
    --footer_p-color: black;
    --razryv_bg-color: AntiqueWhite;
    --top-poems-color: rgba(204, 148, 108, 0.64);
    --article_greetings_bg-color: rgba(215, 166, 131, 0.58);
    --main_h1_p-color: black;
    --kartinka:url(images/sun.png);
    /* --logo:url(images/pngtree-feather-pen-ink-and-ink-bottle-icon-illustration-isolated-vector-sign-png-image_1908569-removebg-preview\ 1.png); */
}

input{
    display: none;
}

input:checked~*{
    --header_bg-color: #2c221a;
    --header_footer_a-color: black;
    --header_footer_a-bg-color: white;
    --body_bg-color: #6b5542;
    --razryv_bg-color: #6b5542;
    --top-poems-color: #3216B0;
    --article_greetings_bg-color: #4b3b2a;
    --main_h1_p-color: white;
    --footer_bg-color: #2c221a;
    --footer_p-color: white;
    --kartinka:url(images/light-moon.png);
    /* --logo:url(images/white-ink.png); */
}

.light-dark{
    width: 50px;
    height: 50px;
    background-image: var(--kartinka);
    background-size: contain;
}

header {
    display: flex;
    background-color: var(--header_bg-color);
    align-items: center;
    justify-content: space-around;
    /* border-radius: 15px; */
}

header a {
    text-decoration: none;
    margin: 0 20px;
    color: var(--header_footer_a-color);
    background-color: var(--header_footer_a-bg-color);
    padding: 12px 24px;
    border-radius: 6px;
}

footer{
    background-color: var(--footer_bg-color);
    /* border-radius: 15px; */
}

footer p{
    color: var(--footer_p-color);
}

nav {
    display: flex;
}

body{
    background-color: var(--body_bg-color);
}

main p,h1,h2{
    color: var(--main_h1_p-color);
}

#Esenin{
    width: 111px;
    height: 114px;
    margin-right: 20px;
    /* bottom: 10px;
    left: 450px; */
}

#Tutchev{
    width: 125px;
    height: 125px;
    margin-right: 20px;
    /* bottom: 10px;
    right: 140px; */
}

#Mixalkov{
    width: 138px;
    height: 106px;
    margin-right: 20px;
    /* left: 400px;
    bottom: 160px; */
}

#Pushkin{
    width: 136px;
    height: 127px;
    margin-right: 20px;
    /* right: 650px;
    bottom: 140px; */
}

.greeting {
    padding: 10px 5%;
    text-align: center;
    background-color: var(--article_greetings_bg-color);
    /* border-radius: 15px; */
}

.greeting>* {
    vertical-align: middle;
}

.razryv {
    background-color: var(--razryv_bg-color);
    height: 45px;
    /* border-radius: 15px; */
}

.top-poems {
    background-color: var(--top-poems-color);
    padding: 10px 5%;
    text-align: center;
}

.top-poems>* {
    vertical-align: middle;
}

.Mixalkov-name, .Pushkin-name, .Lermontov-name{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Mixalkov-poetry-name, .Pushkin-poetry-name, .Lermontov-poetry-name{
    font-size: 25px;
    font-family: Lobster;
}

.Mixalkov-poem, .Pushkin-poem, .Lermontov-poem{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top-Lermontov{
    border-radius: 25px;
}


.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--article_greetings_bg-color);
    /* border-radius: 15px; */
}

.article>div {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 745px;
}

.Tutchev-first-poetry-name,.Tutchev-second-poetry-name,.Tutchev-third-poetry-name,.Tutchev-fourth-poetry-name{
    font-size: 23px;
    font-family: Lobster;
}

.p1,.p2,.p3,.p4{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pushkin-first-poetry-name,.Pushkin-second-poetry-name,.Pushkin-third-poetry-name,.Pushkin-fourth-poetry-name{
    font-size: 23px;
    font-family: Lobster;
}

.Pushkin-p1,.Pushkin-p2,.Pushkin-p3,.Pushkin-p4{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Mixalkov-first-poetry-name,.Mixalkov-second-poetry-name,.Mixalkov-third-poetry-name,.Mixalkov-fourth-poetry-name{
    font-size: 23px;
    font-family: Lobster;
}

.Mixalkov-p1,.Mixalkov-p2,.Mixalkov-p3,.Mixalkov-p4{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Esenin-first-poetry-name,.Esenin-second-poetry-name,.Esenin-third-poetry-name,.Esenin-fourth-poetry-name{
    font-size: 23px;
    font-family: Lobster;
}

.Esenin-p1,.Esenin-p2,.Esenin-p3,.Esenin-p4{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Farid-first-poetry-name,.Farid-second-poetry-name,.Farid-third-poetry-name{
    font-size: 23px;
    font-family: Lobster;
}

.Farid-p1,.Farid-p2,.Farid-p3{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    margin: 0 20px;
    color: var(--header_footer_a-color);
    background-color: var(--header_footer_a-bg-color);
    padding: 12px 32px;
    border-radius: 6px;
    margin-top: 13px;
}

.footerNAV{
    display: flex;
    text-align: center;
    font-weight: bold;
}

.slick-slider{
    display: flex !important;
    align-items: center;
}

.carousel__item{
    display: flex !important;
    flex-direction: column;
    /* margin-right: 115px; */
    align-items: center;
}

/* img {
    width: 25%;
    object-fit: contain;
} */


/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        flex-direction: row; /* Возвращаем направление flex обратно в горизонтальное */
        align-items: center;
        flex-wrap: wrap;
    }

    header a {
        margin: 0 10px;
    }

    footer {
        flex-direction: row;
        align-items: center;
    }

    footer a {
        margin: 0 10px;
    }

    .article > div {
        gap: 50px; /* Возвращаем отступ между элементами внутри .article > div обратно */
    }

    .light-dark {
        order: 1; /* Устанавливаем порядок .light-dark на новую строку */
    }
}

/* планшеты вертикально */
@media (min-width: 768px) and (max-width: 991px) {
    /* body {
        width: auto;
    } */

    header {
        flex-direction: column; /* Изменяем направление flex для header */
        align-items: center; /* Выравниваем элементы по центру */
    }

    header a {
        margin: 10px 0;
    }

    footer {
        flex-direction: column; /* Изменяем направление flex для footer */
        align-items: center; /* Выравниваем элементы по центру */
    }

    footer a {
        margin: 10px 0;
    }

    .article > div {
        gap: 20px; /* Уменьшаем отступ между элементами внутри .article > div */
    }
}

/* телефоны горизонтально */
@media (max-width: 767px){
    header {
        flex-direction: row;
        align-items: center;
    }

    header a {
        margin: 0 20px;
    }

    footer {
        flex-direction: row;
        align-items: center;
    }

    footer a {
        margin: 0 20px;
    }

    .article > div {
        gap: 50px;
    }

    .light-dark {
        width: 50px;
        height: 50px;
    }

    #Esenin, #Tutchev, #Mixalkov, #Pushkin {
        margin-right: 20px;
    }

    .greeting,
    .razryv,
    .top-poems,
    .article {
        padding: 10px 5%;
    }

    .greeting>*,
    .top-poems>* {
        margin-bottom: 10px;
    }

    .footerNAV {
        font-size: 16px;
    }

    footer a {
        padding: 12px 32px;
        margin-top: 13px;
    }

    .footerP {
        margin-top: 0;
    }

    #Esenin, #Tutchev, #Mixalkov, #Pushkin {
        margin-right: 20px;
    }

    .light-dark {
        width: 50px;
        height: 50px;
    }
}

/* телефоны вертикально */
@media (max-width: 480px) {
    header a {
        margin: 10px 0;
        padding: 8px 14px; /* Уменьшаем отступы сверху и снизу еще больше */
        font-size: 12px; /* Еще больше уменьшаем размер шрифта */
    }

    footer a {
        margin: 10px 0;
        padding: 8px 14px;
        font-size: 12px;
    }

    .article > div {
        gap: 10px; /* Уменьшаем отступ между элементами внутри .article > div */
    }

    .light-dark {
        width: 30px; /* Уменьшаем размер иконки света/темноты */
        height: 30px;
    }

    #Esenin, #Tutchev, #Mixalkov, #Pushkin {
        margin-right: 0; /* Убираем отступ справа для изображений */
        margin-bottom: 10px; /* Добавляем отступ снизу для изображений */
    }

    .greeting,
    .razryv,
    .top-poems,
    .article {
        padding: 10px 5%;
    }

    .greeting>*,
    .top-poems>* {
        margin-bottom: 8px; /* Уменьшаем отступы между элементами */
    }

    .footerNAV {
        font-size: 14px; /* Уменьшаем размер шрифта в навигации футера */
    }

    footer a {
        padding: 8px 20px; /* Уменьшаем отступы слева и справа для ссылок в футере */
        margin-top: 10px;
    }

    .footerP {
        margin-top: 0;
    }
}
